* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: var(--raleway-font);
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "Raleway", sans-serif;
  src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Lato", sans-serif;
  src: url(../fonts/Lato/Lato-Light.ttf);
}
:root {
  --raleway-font: "Raleway", sans-serif;
  --lato-font: "Lato", sans-serif;
}

nav {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__menu {
  display: flex;
  align-items: center;
}
.navbar__menu-ul {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.navbar__menu-list {
  list-style: none;
}
.navbar__menu-link {
  text-decoration: none;
  color: #3D4A39;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
.navbar__menu-mobile {
  display: none;
}
.navbar__menu-mobile-right {
  display: none;
}
.navbar__social {
  display: flex;
  align-items: center;
  -moz-column-gap: 63px;
       column-gap: 63px;
}
.navbar__social-left {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.navbar__social-right {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  text-decoration: none;
  color: #3D4A39;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}
.navbar input {
  display: none;
}

.hero {
  background-image: url(../images/hero-bg.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 687px;
  margin-top: 93px;
  padding-top: 120px;
  padding-bottom: 45px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-family: var(--lato-font);
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  width: 446px;
  text-align: center;
}

.hero__wrapper h3 {
  color: #fff;
  opacity: 80%;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  width: 537px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.hero__wrapper-btn {
  width: 260px;
  height: 60px;
  background-color: #AE7B3C;
  border: none;
  transition: 0.5s;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

.hero__wrapper-btn:hover {
  background-color: #e1ab6a;
}

.hero__wrapper-bottom {
  border-top: 2px solid #807B77;
  width: 1200px;
  height: 57.0002441406px;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.hero__wrapper-bottom-left {
  display: flex;
  gap: 25px;
}

.hero__wrapper-bottom-right {
  display: flex;
  gap: 15px;
}

.hero__wrapper-bottom-right-1,
.hero__wrapper-bottom-right-2,
.hero__wrapper-bottom-right-3 {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 1px solid #fff;
  opacity: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__wrapper-bottom-right-1::before,
.hero__wrapper-bottom-right-2::before,
.hero__wrapper-bottom-right-3::before {
  font-family: var(--lato-font);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  opacity: 30%;
}

.hero__wrapper-bottom {
  align-items: flex-end;
}

.hero__wrapper-bottom-right-1::before {
  content: "1";
}

.hero__wrapper-bottom-right-2::before {
  content: "2";
}

.hero__wrapper-bottom-right-3::before {
  content: "3";
}

@media screen and (max-width: 1100px) {
  .hero__wrapper-bottom {
    width: 960px;
    height: 57.0002212524px;
  }
}
@media screen and (max-width: 992px) {
  .navbar__social {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .navbar__menu {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.navbar__menu-add {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar__menu {
    position: fixed;
    top: 93px;
    right: 0;
    width: 320px;
    height: 687px;
    padding-left: 26px;
    padding-top: 30px;
    background: #fff;
    z-index: 5;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateX(120%);
    transition: 0.5s;
  }
  .navbar__menu-ul {
    flex-direction: column;
    gap: 25px;
  }
  .navbar__menu-link {
    color: #000;
    font-weight: 500;
  }
  .navbar__menu-add {
    display: block;
    margin-left: -80px;
  }
  .navbar__menu-remove {
    margin-left: -70px;
  }
  .hero {
    background-position-x: -600px;
  }
  .hero__wrapper-bottom {
    width: 600px;
    height: 57.0001907349px;
  }
}
.navbar__checkbox:checked ~ .navbar__menu {
  transform: translateX(0);
}

.navbar__menu-remove {
  display: none;
}

.navbar__menu-ad {
  display: block;
}

.navbar__checkbox:checked ~ .navbar__menu-add {
  display: none;
}

.navbar__checkbox:checked ~ .navbar__menu-remove {
  display: block;
}

.hero__wrapper-bottom-right-3 {
  opacity: 100%;
}

.hero__wrapper-bottom-right-3::before {
  opacity: 100%;
}

@media screen and (max-width: 576px) {
  .navbar__menu {
    height: 687px;
    padding-left: 10px;
  }
  .navbar__menu-mobile {
    display: flex;
    -moz-column-gap: 15px;
         column-gap: 15px;
    list-style: none;
    margin-top: 15px;
  }
  .navbar__menu-mobile-right {
    display: block;
    margin-top: 130px;
  }
  .navbar__social-left, .navbar__social-right {
    display: none;
  }
  .navbar__social-phone {
    display: flex;
    -moz-column-gap: 12px;
         column-gap: 12px;
    text-decoration: none;
    color: #3D4A39;
    align-items: center;
  }
  .navbar .navbar__social-phone {
    display: flex;
    gap: 7px;
    align-items: center;
  }
  .navbar .navbar__social-phone img {
    margin-top: -3px;
  }
  .navbar__menu-add {
    display: block;
  }
  .nav-btn {
    width: 300px;
    height: 60px;
    margin-top: 30px;
    background-color: #AE7B3C;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
  .nav-btn:hover {
    background-color: #e1ab6a;
  }
  .hero {
    height: 687px;
    background-position-x: -800px;
  }
  .hero__wrapper h1 {
    width: 296px;
    font-family: var(--lato-font);
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
  }
  .hero__wrapper h3 {
    width: 300px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
  .hero__wrapper-btn {
    width: 300px;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
  .hero__wrapper-bottom {
    width: 300px;
    justify-content: center;
  }
  .hero__wrapper-bottom-left {
    display: none;
  }
}
.navbar__menu-mobile-right span {
  font-family: var(--lato-font);
}

.navbar__social span {
  font-family: var(--lato-font);
}

@media screen and (max-width: 320px) {
  .hero {
    height: 495px;
  }
  .hero {
    padding-top: 70px;
  }
  .hero__wrapper-bottom {
    margin-top: 62px;
    height: 50px;
  }
  .hero__wrapper h3 {
    margin-top: 28px;
    margin-bottom: 30px;
  }
}
.direct {
  padding-top: 140px;
  padding-bottom: 140px;
}

.direct_wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.direct_wrapper h2 {
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  color: #282B22;
  text-align: center;
}

.direct__wrapper-bottom {
  display: flex;
}

.direct__wrapper-bottom-left,
.direct__wrapper-bottom-center,
.direct__wrapper-bottom-right {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  border-left: 1px solid #D4D5D3;
}

.direct__wrapper-bottom-left h3,
.direct__wrapper-bottom-center h3,
.direct__wrapper-bottom-right h3 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.direct__wrapper-bottom-left {
  width: 384.0000305176px;
  height: 458px;
  margin-right: 29px;
}

.direct__wrapper-bottom-left::before {
  content: "01";
  color: #939590;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.direct__wrapper-bottom-left-bg {
  background-image: url(../images/direct__wrapper-bottom-left-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 354px;
  height: 320px;
}

.direct__wrapper-bottom-center {
  width: 363.0000305176px;
  height: 458px;
  margin-right: 31px;
}

.direct__wrapper-bottom-center::before {
  content: "02";
  color: #939590;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.direct__wrapper-bottom-center-bg {
  background-image: url(../images/direct__wrapper-bottom-center-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 333px;
  height: 320px;
}

.direct__wrapper-bottom-right {
  width: 393.0000305176px;
  height: 458px;
  border-right: 1px solid #D4D5D3;
}

.direct__wrapper-bottom-right-bg {
  background-image: url(../images/direct__wrapper-bottom-right-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 333px;
  height: 320px;
}

.direct__wrapper-bottom-right::before {
  content: "03";
  color: #939590;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 1100px) {
  .direct__wrapper-bottom-left,
  .direct__wrapper-bottom-center,
  .direct__wrapper-bottom-right {
    padding-left: 20px;
  }
  .direct__wrapper-bottom-left {
    width: 300px;
    height: 482px;
    margin-right: 20px;
  }
  .direct__wrapper-bottom-center {
    width: 300px;
    height: 482px;
    margin-right: 20px;
  }
  .direct__wrapper-bottom-right {
    width: 320px;
    height: 482px;
    padding-right: 20px;
  }
  .direct__wrapper-bottom-left-bg,
  .direct__wrapper-bottom-center-bg,
  .direct__wrapper-bottom-right-bg {
    width: 280px;
    height: 320px;
  }
  .direct__wrapper-bottom-left h3,
  .direct__wrapper-bottom-center h3,
  .direct__wrapper-bottom-right h3 {
    margin-bottom: 54px;
  }
}
@media screen and (max-width: 768px) {
  .direct {
    padding: 100px 0;
  }
  .direct_wrapper h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
  }
  .direct__wrapper-bottom {
    flex-wrap: wrap;
  }
  .direct__wrapper-bottom-left {
    width: 280px;
    height: 438px;
  }
  .direct__wrapper-bottom-left h3,
  .direct__wrapper-bottom-center h3,
  .direct__wrapper-bottom-right h3 {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .direct__wrapper-bottom-center {
    width: 300px;
    height: 438px;
    margin-right: 0;
  }
  .direct__wrapper-bottom-right {
    width: 300px;
    height: 462px;
    margin-top: 60px;
  }
  .direct__wrapper-bottom-left-bg,
  .direct__wrapper-bottom-right-bg {
    width: 260px;
    height: 320px;
  }
  .direct__wrapper-bottom-center-bg {
    width: 280px;
    height: 320px;
  }
  .direct__wrapper-bottom-right {
    border-right: none;
  }
}
@media screen and (max-width: 576px) {
  .direct {
    padding: 80px 0;
  }
  .direct__wrapper-bottom {
    gap: 50px;
  }
  .direct__wrapper-bottom-left,
  .direct__wrapper-bottom-center,
  .direct__wrapper-bottom-right {
    width: 300px;
    height: 413px;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    margin: 0;
  }
  .direct__wrapper-bottom-left::before,
  .direct__wrapper-bottom-center::before,
  .direct__wrapper-bottom-right::before {
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }
  .direct__wrapper-bottom-left h3,
  .direct__wrapper-bottom-center h3,
  .direct__wrapper-bottom-right h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .direct__wrapper-bottom-left-bg,
  .direct__wrapper-bottom-center-bg,
  .direct__wrapper-bottom-right-bg {
    width: 300px;
    height: 320px;
  }
  .container {
    padding: 0 1opx;
  }
  .direct {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.covered {
  background-color: #3D4A39;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.covered__wrapper h2 {
  color: #fff;
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
}

.covered__wrapper-type {
  display: flex;
  flex-wrap: wrap;
  margin-left: 120px;
  margin-top: 70px;
}

.covered__wrapper-type-1,
.covered__wrapper-type-2,
.covered__wrapper-type-3,
.covered__wrapper-type-4,
.covered__wrapper-type-5,
.covered__wrapper-type-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.covered__wrapper-type-4,
.covered__wrapper-type-5,
.covered__wrapper-type-6 {
  margin-top: 72px;
}

.covered__wrapper-type-1 h3,
.covered__wrapper-type-2 h3,
.covered__wrapper-type-3 h3,
.covered__wrapper-type-4 h3,
.covered__wrapper-type-5 h3,
.covered__wrapper-type-6 h3 {
  text-align: center;
  color: #fff;
  opacity: 50%;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}

.covered__wrapper-type-1 {
  width: 108px;
  height: 126.9794921875px;
  margin-right: 285px;
}

.covered__wrapper-type-2 {
  width: 148px;
  height: 130px;
  margin-right: 214px;
}

.covered__wrapper-type-3 {
  width: 241px;
  height: 124px;
}

.covered__wrapper-type-4 {
  width: 106px;
  height: 129px;
  margin-right: 221px;
}

.covered__wrapper-type-5 {
  width: 278px;
  height: 158px;
  margin-right: 178px;
}

.covered__wrapper-type-6 {
  width: 183px;
  height: 127px;
}

@media screen and (max-width: 1100px) {
  .covered__wrapper-type {
    margin-left: 85px;
  }
  .covered__wrapper-type-1 {
    margin-right: 219px;
  }
  .covered__wrapper-type-2 {
    margin-right: 125px;
  }
  .covered__wrapper-type-4 {
    margin-right: 155px;
  }
  .covered__wrapper-type-5 {
    margin-right: 89px;
  }
}
@media screen and (max-width: 768px) {
  .covered__wrapper-type {
    margin-left: 40px;
  }
  .covered__wrapper h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
  }
  .covered__wrapper-type {
    margin-left: 40px;
    margin-top: 75px;
  }
  .covered__wrapper-type-1 {
    margin-right: 133px;
    width: 81px;
    height: 103px;
  }
  .covered__wrapper-type-1 img {
    width: 60px;
    height: 60px;
  }
  .covered__wrapper-type-2 {
    margin-right: 94px;
    width: 111px;
    height: 103px;
  }
  .covered__wrapper-type-2 img {
    width: 50px;
    height: 70px;
  }
  .covered__wrapper-type-3 {
    width: 118px;
    height: 126px;
  }
  .covered__wrapper-type-3 img {
    width: 60px;
    height: 60px;
  }
  .covered__wrapper-type-4 {
    margin-right: 92px;
    width: 79px;
    height: 103px;
  }
  .covered__wrapper-type-4 img {
    width: 60px;
    height: 60px;
  }
  .covered__wrapper-type-5 {
    margin-right: 42px;
    width: 195px;
    height: 149px;
  }
  .covered__wrapper-type-5 img {
    width: 60px;
    height: 60px;
  }
  .covered__wrapper-type-6 {
    width: 137px;
    height: 103px;
  }
  .covered__wrapper-type-6 img {
    width: 60px;
    height: 60px;
  }
  .covered__wrapper-type-1 h3,
  .covered__wrapper-type-2 h3,
  .covered__wrapper-type-3 h3,
  .covered__wrapper-type-4 h3,
  .covered__wrapper-type-5 h3,
  .covered__wrapper-type-6 h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
  }
}
@media screen and (max-width: 576px) {
  .covered {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .covered__wrapper h2 {
    width: 238px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 25px;
  }
  .covered__wrapper-type {
    margin-left: 5px;
    padding-left: 0px;
  }
  .covered__wrapper-type-1 {
    margin-right: 55px;
    width: 81px;
    height: 88px;
    margin-left: 15px;
  }
  .covered__wrapper-type-2 {
    width: 111px;
    height: 88px;
    margin-right: 0;
  }
  .covered__wrapper-type-3 {
    margin-right: 52px;
    width: 118px;
    height: 111px;
    margin-top: 50px;
    margin-left: 0;
  }
  .covered__wrapper-type-4 {
    width: 79px;
    height: 88px;
    margin-right: 0;
    margin-top: 48px;
    margin-left: 0;
  }
  .covered__wrapper-type-5 {
    width: 137px;
    height: 88px;
    order: 1;
    margin-top: 50px;
    margin-right: 0;
  }
  .covered__wrapper-type-6 {
    width: 137px;
    height: 157px;
    margin-top: 50px;
    margin-right: 7px;
  }
  .covered__wrapper-type-1 h3,
  .covered__wrapper-type-2 h3,
  .covered__wrapper-type-3 h3,
  .covered__wrapper-type-4 h3,
  .covered__wrapper-type-5 h3,
  .covered__wrapper-type-6 h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }
}
.premises {
  padding: 100px 0;
}

.premises__wrapper {
  position: relative;
}

.premises__wrapper-left {
  margin-top: -40px;
  margin-left: -80px;
  width: 160px;
  height: 200px;
}

.premises__wrapper-right {
  margin-top: 140px;
  margin-left: 100px;
  position: absolute;
  margin-left: 1103px;
  width: 160px;
  height: 200px;
}

.premises__wrapper {
  display: flex;
}

.premises__wrapper-center {
  display: flex;
  flex-direction: column;
}

.premises__wrapper-center h2 {
  width: 814px;
  height: 141px;
  font-size: 36px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 100px;
}

.premises__wrapper-center-bottom {
  margin-top: 80px;
  width: 1200px;
  height: 178px;
  border-bottom: 1px solid #D4D5D3;
  margin-left: -90px;
  display: flex;
  justify-content: center;
}

.premises__wrapper-center-bottom-left {
  border-right: 1px solid #D4D5D3;
  border-top: 1px solid #D4D5D3;
  padding-right: 60px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.premises__wrapper-center-bottom-right {
  border-top: 1px solid #D4D5D3;
  padding-left: 60px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.premises__wrapper-center-bottom-left,
.premises__wrapper-center-bottom-right {
  display: flex;
}

.premises__wrapper-center-bottom-left img,
.premises__wrapper-center-bottom-right img {
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.premises__wrapper-center-bottom-left h4,
.premises__wrapper-center-bottom-right h4 {
  width: 380px;
  height: 108px;
  font-size: 18px;
  color: #000;
  opacity: 80%;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 1100px) {
  .premises__wrapper-left,
  .premises__wrapper-right {
    display: none;
  }
  .premises__wrapper-center-bottom {
    width: 960px;
    height: 178px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .premises__wrapper-center-bottom {
    width: 600px;
    height: 199px;
  }
  .premises__wrapper-center-bottom-left img,
  .premises__wrapper-center-bottom-right img {
    margin-right: 10px;
  }
  .premises__wrapper-center-bottom-left h4,
  .premises__wrapper-center-bottom-right h4 {
    width: 253px;
    height: 138px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .premises__wrapper-center h2 {
    width: 600px;
    height: 144px;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 0;
  }
  .premises__wrapper-center-bottom-left {
    padding-right: 27px;
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .premises__wrapper-center-bottom-right {
    padding-left: 29px;
    padding-top: 31px;
    padding-bottom: 31px;
  }
}
@media screen and (max-width: 576px) {
  .premises {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .premises__wrapper-center h2 {
    width: 299px;
    height: 130px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
  }
  .premises__wrapper-center-bottom {
    flex-wrap: wrap;
    border-bottom: none;
    width: 300px;
    height: 373px;
    margin-left: 0;
  }
  .premises__wrapper-center-bottom-left {
    border-right: none;
    border-bottom: 1px solid #D4D5D3;
  }
  .premises__wrapper-center-bottom-right {
    border-top: none;
    border-bottom: 1px solid #D4D5D3;
    padding-left: 0;
  }
  .premises__wrapper-center-bottom-right img {
    margin-left: -25px;
  }
}
.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-left: 0px;
  padding-bottom: 100px;
}

.advantages__wrapper h2 {
  width: 373px;
  height: 58px;
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.advantages__wrapper-1 {
  width: 1200px;
  display: flex;
  padding-top: 50px;
  height: 174px;
  border-top: 1px solid #D4D5D3;
  border-bottom: 1px solid #D4D5D3;
}

.advantages__wrapper-2 {
  width: 1200px;
  display: flex;
  height: 146px;
  border-bottom: 1px solid #D4D5D3;
  margin-top: 50px;
}

.advantages__wrapper-3 {
  width: 1200px;
  display: flex;
  height: 124px;
  border-bottom: 1px solid #D4D5D3;
  margin-top: 50px;
}

.advantages__wrapper-4 {
  width: 1200px;
  display: flex;
  height: 124px;
  border-bottom: 1px solid #D4D5D3;
  margin-top: 50px;
}

.advantages__wrapper-5 {
  width: 1200px;
  display: flex;
  height: 146px;
  border-bottom: 1px solid #D4D5D3;
  margin-top: 50px;
}

.advantages__wrapper-1-left,
.advantages__wrapper-2-left,
.advantages__wrapper-3-left,
.advantages__wrapper-4-left,
.advantages__wrapper-5-left {
  width: 50%;
  border-right: 1px solid #D4D5D3;
}

.advantages__wrapper-1-left::before,
.advantages__wrapper-2-left::before,
.advantages__wrapper-3-left::before,
.advantages__wrapper-4-left::before,
.advantages__wrapper-5-left::before {
  color: #282B22;
  opacity: 30%;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.advantages__wrapper-1-left::before {
  content: "01";
}

.advantages__wrapper-2-left::before {
  content: "02";
}

.advantages__wrapper-3-left::before {
  content: "03";
  opacity: 100%;
  color: #AE7B3C;
}

.advantages__wrapper-4-left::before {
  content: "04";
}

.advantages__wrapper-5-left::before {
  content: "05";
}

.advantages__wrapper-1-right,
.advantages__wrapper-2-right,
.advantages__wrapper-3-right,
.advantages__wrapper-4-right,
.advantages__wrapper-5-right {
  padding-left: 40px;
}

.advantages__wrapper-1 h3,
.advantages__wrapper-2 h3,
.advantages__wrapper-3 h3,
.advantages__wrapper-4 h3,
.advantages__wrapper-5 h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}

.advantages__wrapper-3 h3 {
  color: #AE7B3C;
}

.advantages__wrapper-1 h4,
.advantages__wrapper-2 h4,
.advantages__wrapper-3 h4,
.advantages__wrapper-4 h4,
.advantages__wrapper-5 h4 {
  width: 453px;
  height: 22px;
  color: #282B22;
  opacity: 80%;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.advantages__wrapper-3 h4 {
  width: 495px;
  height: 22px;
}

.advantages__wrapper-4 h4 {
  width: 537px;
  height: 22px;
}

.advantages-bg {
  position: absolute;
  margin-top: 470px;
  align-self: flex-start;
  margin-left: 140px;
}

@media screen and (max-width: 1100px) {
  .advantages__wrapper-1 {
    width: 960px;
    height: 196px;
  }
  .advantages__wrapper-2,
  .advantages__wrapper-3,
  .advantages__wrapper-4,
  .advantages__wrapper-5 {
    width: 960px;
    height: 146px;
  }
  .advantages__wrapper-1 h4,
  .advantages__wrapper-2 h4,
  .advantages__wrapper-3 h4,
  .advantages__wrapper-4 h4,
  .advantages__wrapper-5 h4 {
    width: 350px;
  }
  .advantages-bg {
    margin-left: 70px;
    margin-top: 490px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__wrapper h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
  }
  .advantages__wrapper-1 {
    width: 600px;
    height: 165px;
  }
  .advantages__wrapper-2,
  .advantages__wrapper-3,
  .advantages__wrapper-4,
  .advantages__wrapper-5 {
    width: 600px;
    height: 147px;
  }
  .advantages-bg {
    display: none;
  }
  .advantages__wrapper-1 h3,
  .advantages__wrapper-2 h3,
  .advantages__wrapper-3 h3,
  .advantages__wrapper-4 h3,
  .advantages__wrapper-5 h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #282B22;
  }
  .advantages__wrapper-1 h4,
  .advantages__wrapper-2 h4,
  .advantages__wrapper-3 h4,
  .advantages__wrapper-4 h4,
  .advantages__wrapper-5 h4 {
    width: 250px;
    height: 66px;
    color: #282B22;
    opacity: 80%;
  }
  .advantages__wrapper-3-left::before {
    color: #282B22;
    opacity: 30%;
  }
}
@media screen and (max-width: 576px) {
  .advantages__wrapper-1-left,
  .advantages__wrapper-2-left,
  .advantages__wrapper-3-left,
  .advantages__wrapper-4-left,
  .advantages__wrapper-5-left {
    width: 2%;
    border-right: none;
  }
  .advantages__wrapper-1 {
    width: 300px;
    height: 140px;
    padding-top: 30px;
  }
  .advantages__wrapper-2,
  .advantages__wrapper-3,
  .advantages__wrapper-4,
  .advantages__wrapper-5 {
    width: 300px;
    height: 132px;
    margin-top: 30px;
  }
  .advantages__wrapper-1 h3,
  .advantages__wrapper-2 h3,
  .advantages__wrapper-3 h3,
  .advantages__wrapper-4 h3,
  .advantages__wrapper-5 h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }
  .advantages__wrapper-1 h4,
  .advantages__wrapper-2 h4,
  .advantages__wrapper-3 h4,
  .advantages__wrapper-4 h4,
  .advantages__wrapper-5 h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    width: 253px;
    height: 66px;
  }
  .advantages__wrapper {
    padding-bottom: 80px;
  }
}
.project {
  display: flex;
  width: 100%;
}

.project__left {
  background-color: #3D4A39;
  width: 50%;
  height: 696px;
}

.project__right {
  width: 50%;
  background-image: url(../images/project__right.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 696px;
}

.project__left {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  justify-content: center;
}

.project__left h2 {
  width: 413px;
  text-transform: uppercase;
  height: 116px;
  color: #fff;
  font-size: 46px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.project__left h3 {
  color: #fff;
  opacity: 80%;
  width: 306px;
  height: 46px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
}

.project__left-inputs {
  display: flex;
  flex-direction: column;
  width: 300px;
  row-gap: 25px;
}

.project__left-inputs input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #646E61;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.project__left-page {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  gap: 10px;
  margin-top: 25px;
  opacity: 50%;
}

.project__left-btn {
  background-color: #AE7B3C;
  width: 300px;
  height: 60px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 25px;
}

.project__left-btn:hover {
  background-color: #e9b06a;
}

.project__left-bottom {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.project__left-bottom h4 {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 1100px) {
  .project__left {
    padding-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .project__left {
    padding-left: 18px;
  }
  .project__left h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    width: 266px;
    height: 90px;
  }
  .project__left h3 {
    width: 266px;
    height: 46px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
  }
  .project__left-inputs {
    width: 266px;
  }
  .project__left-btn {
    width: 266px;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
  }
  .project__left-bottom h4 {
    width: 154px;
    height: 32px;
  }
  .project__left-bottom img {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 576px) {
  .project {
    flex-direction: column-reverse;
  }
  .project__left {
    order: 2;
    width: 100%;
  }
  .project__right {
    width: 100%;
    height: 360px;
  }
}/*# sourceMappingURL=main.css.map */